DB_USER: Usuario de la base de datos de Postgres
DB_PASSWORD: Contraseña de la base de datos de Postgres
DB_HOST: Host de la base de datos de Postgres
DB_PORT: Puerto de la base de datos de Postgres
DB_NAME: Nombre de la base de datos de Postgres
PULSAR_BROKER_URL=pulsar://localhost:6650
COUNTRY_CODE: Código de país para el cual se desean obtener los datos= CO
REDDIS_HOST: Host de la base de datos de Redis
REDDIS_PORT: Puerto de la base de datos de Redis